* {
  margin: 0;
  padding: 0;
}
.main {
  border: 2px pink solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main button {
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: black;
  outline: none;
}
